# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Mac / Windows
.DS_Store
Thumbs.db

# Datos locales
data/processed/
data/interim/
data/external/
data/raw/credits.csv
data/processed/*.csv

# Entornos virtuales
env/
.venv/
*.env

# Archivos de entorno / configuración
env_vars*
credentials*

# Archivos de construcción
**/build/

"data/raw/credits.csv" 
